@font-face {
    font-family: 'Michroma';
    src: url('../fonts/Michroma-Regular.ttf');
}

.text {
    -fx-font-family: 'Michroma';
}

.label{
    -fx-text-fill: rgba(180, 240, 240, 0.9);
}

.radio-button {
    -fx-text-fill:  rgba(180, 240, 240, 0.9);
}

.check-box {
    -fx-text-fill:  rgba(180, 240, 240, 0.9);
}

.color-picker .label{
    -fx-text-fill: #000000;
}

.headerText {
    -fx-font-size: 35px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(30,207,207,0.8), 10, 0.5, 0, 0);
}

.normalText {
    -fx-font-size: 18px;
    -fx-text-fill: rgba(200, 255, 255, 0.85);
}

.button{
    -fx-font-size: 13px;
}

.notification{
    -fx-font-family: Impact;
    -fx-font-weight: bold;
    -fx-stroke:black;
    -fx-stroke-width: 3px;
    -fx-font-size: 100px;
}