@font-face {
    font-family: 'Michroma';
    src: url('../fonts/Michroma-Regular.ttf');
}

.text {
    -fx-font-family: 'Michroma';
}

.label,
.radio-button,
.check-box,
.text-field,
.normalText,
.combo-box,
.combo-box > .text-field,
.combo-box > .list-cell,
.radio-button .label,
.combo-box-popup .list-cell,
.text-field {
    -fx-text-fill: -theme-text-primary;
}

.color-picker .label {
    -fx-text-fill: -theme-text-dark;
}

.headerText {
    -fx-font-size: 35px;
    -fx-text-fill: -theme-text-header;
    -fx-effect: dropshadow(gaussian, -theme-header-glow, 10, 0.5, 0, 0);
}

.normalText {
    -fx-font-size: 18px;
}

.button {
    -fx-font-size: 13px;
}

.notification {
    -fx-font-family: 'Michroma';
    -fx-font-weight: bold;
    -fx-stroke: -theme-text-dark;
    -fx-stroke-width: 3px;
    -fx-font-size: 100px;
}