.background {
    -fx-background-image: url('../../Images/Tetris/Background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.gameField {
    -fx-border-color: -theme-accent-cyan-solid;
    -fx-background-color: -theme-game-bg-solid;
    -fx-border-width: 2px;
    -fx-effect: innershadow(gaussian, -theme-tetris-field-glow, 10, 0.5, 0, 0);
}

.gameField Line {
    -fx-stroke: -theme-game-line-color;
}

.playground {
    -fx-background-color: radial-gradient(focus-angle 0.5deg, focus-distance 0.0% , center 50.0% 50.0%, radius 80.0%, -theme-playground-core 0.0%, -theme-playground-core 21.8421%, -theme-playground-mid 48.6842%, -theme-playground-outer 77.3684%, -theme-playground-outer 100.0%);
}

.split-pane-divider {
    -fx-background-color: transparent;
}